/* Overwrite for Theme Variables */
$base-color: #238C23 !default;
$font-family: 'Daniel' !default;
$page-bg-color:linear-gradient(to bottom, rgba(255,255,255,1) 33%,rgba(150,150,150,1) 100%) !default;

/**
 * The following two lines import the default Sencha Touch theme. 
 * If you are building a new theme, remove them and the add your own CSS on top of the base CSS
 * (which is already included in your app.json file).
 */
@import 'sencha-touch/default';
@import 'sencha-touch/default/all';

@font-face {
	font-family: 'PWSmallIcons';
	src: url('../fonts/PWSmallIcons.ttf');
}

@font-face {
        font-family: 'Daniel';
        src: url('../fonts/daniel.ttf');
}

@include icon("aos-icon-calendar","(","PWSmallIcons");
@include icon("aos-icon-home","2","PWSmallIcons");
@include icon("aos-icon-statistics","\2018","PWSmallIcons");
@include icon("aos-icon-logout","\60","PWSmallIcons");
@include icon("aos-icon-mainmenu","\ce","PWSmallIcons");
@include icon("aos-icon-goals","\53","PWSmallIcons");
@include icon("aos-icon-remove","\201d","PWSmallIcons");
@include icon("aos-icon-details","\46","PWSmallIcons");
@include icon("aos-icon-tasks","\4f","PWSmallIcons");
@include icon("aos-icon-edit","\59","PWSmallIcons");
@include icon("aos-icon-new","\68","PWSmallIcons");
@include icon("aos-icon-back","\73","PWSmallIcons");
@include icon("aos-icon-save","\3d","PWSmallIcons");
@include icon("aos-icon-worklog","\70","PWSmallIcons");

/* Overwrite for Icon Size */
.x-tab .x-button-icon {
    font-size: 1.3em;
}

/* Overwrite for Tab Label */
.x-tabbar.x-docked-bottom .x-tab .x-button-label{
    font-size: 0.8em;
	padding: 0.4em;
}

/* Overwrite for Bottom Tab */
.x-tabbar.x-docked-bottom {
    height: 4.3em;
}




.aos-title {
	font-size: 120%;
	font-weight: bold;
}

.aos-goal-status {
	font-size: 80%;
	text-align: center;
	padding: 0 1em 0 0;
}

.aos-goal-field {
	font-weight: bold;
	padding: 0.5em;
	width:30%;
}

.aos-goal-data {
	padding: 0.5em;
	width: 70%;
}
